//@import "../assets/scss/style.scss";

.mainer {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  background-color: #006bb6;
  padding: 15px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__item {

  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    padding: 27px 15px;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      background-color: #000000;
    }

    &--active {
      background-color: #000000;
    }
  }
}
