<header class="header">
  <div class="mainer">
    <nav class="nav">
      <a routerLink="/"><h1 class="nav__title">Test task</h1></a>
      <ul class="nav__list">
        <li class="nav__item"><a routerLinkActive="nav__link--active" class="nav__link" routerLink="/news">News</a></li>
        <li class="nav__item"><a routerLinkActive="nav__link--active" class="nav__link" routerLink="/profile">Profile</a></li>
        <li *ngIf="!isLogin; else logout" class="nav__item"><a routerLinkActive="nav__link--active" class="nav__link" routerLink="/login">Login</a></li>
        <ng-template #logout>
          <li class="nav__item"><a (click)="logOut()" class="nav__link" routerLink="/login">Logout</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>

<div class="mainer">
  <router-outlet></router-outlet>
</div>
